<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient"/>
    <add key="PROVEEDOR_ADONET2" value="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem"/>
    <add key="CADENA_CONEXION" value="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem"/>
    <add key="CADENA_CONEXION2" value="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="caracteres" value="&lt;20cm"/>
    <add key="fechaHistorica" value="17/07/2017"/>
    <add key="EF" value="01"/>
    <add key="ER" value="41"/>
    <add key="NV" value="02"/>
    <add key="LC" value="03"/>
    <add key="EC" value="04"/>
    <add key="EB" value="05"/>
    <add key="E1" value="07"/>
    <add key="E8" value="05A"/>
    <add key="EG" value="06"/>
    <add key="DV" value="19"/>
    <!--Ambiente servidor PDF 2->PROD, 1->QA -->
    <add key="Ambiente" value="1"/>
    <add key="AUTHORIZED" value="AT"/>
    <add key="CONTINGENCY" value="CN"/>
    <add key="ERROR" value="ER"/>
    <add key="PENDING" value="PD"/>
    <add key="RECEIVED" value="RC"/>
    <add key="REJECTED" value="RJ"/>
    <add key="RESEND" value="RS"/>
    <!--Tipo identificacion-->
    <add key="1C" value="05"/>
    <add key="1P" value="06"/>
    <add key="2" value="04"/>
    <add key="5" value="04"/>
    <add key="6" value="04"/>
    <add key="C" value="04"/>
    <add key="PC" value="05"/>
    <add key="PP" value="06"/>
    <add key="T" value="04"/>
    <add key="IE" value="08"/>
    <add key="userWS" value="CIMAIT"/>
    <add key="passWS" value="CIMAIT"/>
    <add key="categoria_negocio" value="CONCRETO|03"/>
    <add key="categoria_negocioT" value="TRASLADO|04"/>
    <add key="estabEliminarCampos" value="014"/>
    <add key="ptoemiEliminarCampos" value="024"/>
    <add key="leyendaGranContrOld" value="AGENTE DE RETENCION CONTRIBUYENTE ESPECIAL No. 5368 OBLIGADO A LLEVAR CONTABILIDAD: SI"/>
    <add key="leyendaGranContrNew" value="AGENTE DE RETENCION CONTRIBUYENTE ESPECIAL No. 5368 OBLIGADO A LLEVAR CONTABILIDAD: SI// GRAN CONTRIBUYENTE Oficio Nro. NAC-GCFOIOC21-00000992-E"/>
    <add key="estabGC" value="014"/>
    <add key="ptoemiGC" value="024"/>
    <!--Tipo de Log-->
    <add key="LogInfoDB" value="S"/>
    <add key="LogError" value="S"/>
    <add key="LogInfo" value="S"/>
    <add key="Auditar" value="S"/>
    <add key="ArchivoLog" value="C:\\Sipecom\\Unacem\\Portal\\Logs\\Unacem_Portal_Log_|TP_|yyyy-|MM-|dd-_|HH.txt"/>
    <add key="LogInfoAdicional" value="S"/>
    <!--REDIRECCIONAMIENTOS-->
    <add key="pathRequLogin" value="/cuenta/Login.aspx"/>
    <add key="pathRespLogin" value="/cuenta/Login.aspx"/>
    <add key="pathRespDefault" value="/Default.aspx"/>
  <add key="pathMenu" value="~"/>
  </appSettings>
  <connectionStrings>
    <add name="upsdataConnectionString" connectionString="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem" providerName="System.Data.SqlClient"/>
    <add name="dataexpressConnectionString" connectionString="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem" providerName="System.Data.SqlClient"/>
    <add name="dataexpressConnectionString2" connectionString="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem" providerName="System.Data.SqlClient"/>
    <add name="invoicecConnectionString" connectionString="Data Source=10.3.8.203,14533; Persist Security info=false; User id=Unacem; password=Sipecom.c0m; Initial Catalog=Unacem" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>
    <pages validateRequest="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <webServices>
      <soapExtensionTypes>
        <add type="Control.TraceExtension, Control" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="upsdataConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="upsdataConnectionString" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="upsdataConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="Control.QueryString" name="QueryString"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataUpsWeb.Service1AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="DataUpsWeb.Service1">
        <endpoint address="" behaviorConfiguration="DataUpsWeb.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="DataUpsWeb.Service1"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>