<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
    <!--<add key="CADENA_CONEXION" value="Data Source=10.52.10.2; Persist Security info=false; User id=sa; password=123456; Initial Catalog=CantServ" />-->
      <add key="CADENA_CONEXION" value="Data Source=(local); Persist Security info=false; User id=sa; password=123456; Initial Catalog=CantServ" />
			<add key="CADENA_CONEXION_HISTORICA" value="Data Source=(local); Persist Security info=false; User id=sa; password=123456; Initial Catalog=CantServ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="userWS" value="CIMAIT" />
    <add key="passWS" value="CIMAIT" />
			 <add key="fechaHistorica" value="17/07/2017"/>
    <add key="dir" value="http://190.11.254.76/cuenta/Login.aspx" />
    
  </appSettings>
  
  <connectionStrings>
    <add name="upsdataConnectionString" connectionString="Data Source=(local);Initial Catalog=CantServ;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="dataexpressConnectionString" connectionString="Data Source=(local);Initial Catalog=CantServ;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
			<add name="dataexpressConnectionString2" connectionString="Data Source=(local);Initial Catalog=CantServ;User ID=sa;Password=123456"
					providerName="System.Data.SqlClient" />
    <add name="CantServConnectionString" connectionString="Data Source=(local);Initial Catalog=CantServ;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <webServices>
      <soapExtensionTypes>
        <add type="Control.TraceExtension, Control" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="upsdataConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="upsdataConnectionString"
             applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="upsdataConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>

    <httpModules>
      <add type="Control.QueryString" name="QueryString"/>
    </httpModules>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataUpsWeb.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="DataUpsWeb.Service1">
        <endpoint address="" behaviorConfiguration="DataUpsWeb.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="DataUpsWeb.Service1" />
      </service>
    </services>
  </system.serviceModel>

</configuration>